/* 배경과 레이아웃 설정 */
.register2-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: linear-gradient(to bottom, #e0f7fa, #ffffff);
}

.register2-title {
  font-size: 2rem;
  margin-bottom: 20px;
  color: #333;
}

/* 탭 버튼 스타일 */
.register-toggle {
  display: flex;
  margin-bottom: 20px;
}

.toggle-btn {
  padding: 10px 20px;
  border: none;
  background-color: #f0f0f0;
  color: #555;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 10px 10px 0 0;
}

.toggle-btn.active {
  background-color: #d7c1ff;
  color: #000;
}

.toggle-btn:not(:last-child) {
  margin-right: 10px;
}

/* 입력 폼 스타일 */
.register2-form {
  background: #fff;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
}

.form2-group {
  /* display: flex; */
  justify-content: space-between;
}

.register2-input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 2px solid #e0e0e0;
  border-radius: 5px;
  box-sizing: border-box;
}

.register2-input:focus {
  outline: none;
  border-color: #6200ea;
}

.register2-btn {
  width: 100%;
  padding: 10px;
  background-color: #2962ff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
}

.register2-btn:hover {
  background-color: #0039cb;
}
.error-text {
  color: red;
  font-size: 12px; /* 작은 크기 설정 */
  margin-top: 5px; /* 입력 필드와 간격을 주기 위해 설정 */
}
